<h1>在庫表</h1>
<%= link_to "追加", new_take_path %>
<h3>商品名</h3>
<% @takes.each do |take| %>
<div>
    <%= link_to take.name, new_take_order_path(take) %>
    <%= take.remaining%>
    <%= link_to "在庫", edit_take_path(take) %>
</div>
<% end %>
