<div class="container">
 <div class="row">
  <div class="col", style="margin-bottom: 150px; ">
    <h1 class="mt-5">在庫表</h1>
    <div class="text-right">
    <% if current_admin.present? %>
     <%= link_to "", new_take_path,class: "fas fa-plus fa-2x" %>
    <% end %>
    </div>
    <table class="table table-borderd table-hover">
     <thead class="thead-light">
         <tr>
            <th>商品名</th>
            <th>在庫</th>
            <th></th>
         </tr>
     </thead>
     <tbody class="border">
        <% @takes.each do |take| %>
        <tr>
         <td><%= link_to take.name, new_take_order_path(take) %></td>
         <td><%= take.remaining%></td>
         <td><%= link_to "編集", edit_take_path(take) %></td>
        </tr>
        <% end %>
     </tbody>
    </table>
  </div>
 </div>
</div>
